doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css')

  body(class="container p-0")
    div.container
        .row.justify-content-md-center.m-4 
            .col-md-4.border.border-1
                form(class="d-flex justify-content-md-center flex-column" method="POST" action="/auth/login")
                    h1 Please Sign In 
                    label(for="inputEmail" class="sr-only") Email address
                    input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)
                    label(for="inputPassword" class="sr-only") Password 
                    input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus)

                    - var buttonClass = ["btn","btn-primary","align-self-center","m-1"]
                    button(class=buttonClass type="submit") Sign In